

<section class="cajaProyectos">
    <div> 
      <h1 class = "subrayado"> Proyectos </h1>
      <app-buttom 
        color="{{estado? 'red' : 'green'}}" 
        text="{{estado? '-' : '+'}}"
        (btnClick)="toggleFormProject()"
      ></app-buttom>

      <app-add-proyecto 
      (onAddProject)="addProject($event)"
      (onEditProject)="editProject($event)"
      (onToggleFormProject)="toggleFormProject()"
      [proyecto]="project"
      ></app-add-proyecto>
    </div>
    <div>
      <app-proyectos-item 
      *ngFor="let project of proyectos; let i = index"
          [proyecto] = "project"
          (onDeleteProject)="deleteProject($event)"
          (onEditFormProject)="editFormProject($event)"
      ></app-proyectos-item>
    </div>
</section>


