<app-add-proyecto 
  (onAddProject)="addProject($event)"
></app-add-proyecto>

<section class="cajaProyectos">
    <div> 
      <app-buttom 
        color="{{showAddProject ? 'red' : 'green'}}" 
        text="{{showAddProject ? 'Close project' : 'Add project'}}"
        (btnClick)="toggleAddProject()"
      ></app-buttom>
      <h1> Proyectos </h1>
    </div>

    <div>
      <app-proyectos-item 
      *ngFor="let proyecto of proyectos"
        [proyecto] = "proyecto"
        (onDeleteProyecto) = "deleteProyecto(proyecto)" 
        (onToggleReminder)="toggleReminder(proyecto)" >
      </app-proyectos-item>
    </div>
</section>