.cajaProyectos{
    border: 2px solid #929292;
    border-radius: 10px;
    padding-bottom: 6em;
    background-color: rgb(241, 241, 241);
    margin: 1em;
    padding: 2em;
  }
  
  .titulosProyectos{
    font-size: 1rem;
    color: blue;
  }