<section class="cajaFormacion seccion">
     <div >
          <div class="caja_titulo">
               <h1 class = "subrayado"> Formación </h1>
               <app-buttom 
               color="{{estado? 'red' : 'green'}}" 
               text="{{estado? '-' : '+'}}"
               (btnClick)="toggleFormFormacion()"
               ></app-buttom>
          </div>

    
          <app-add-formacion
               (onAddFormacion)="addFormacion($event)"
               (onEditFormacion)="editFormacion($event)"
               (onToggleFormFormacion)="toggleFormFormacion()"
               [formacion]="formacion"
          > </app-add-formacion>
     </div>
     <div >
          <h2 class = "subrayado"> Educación </h2>
          <ul class="lista_educacion">
          <app-item-formacion
               *ngFor="let formacion of getEducacion()"
               [formacion] = "formacion"
               (onDeleteFormacion)="deleteFormacion(formacion)"
               (onEditFormacion)="editFormFormacion(formacion)"
          > </app-item-formacion> 
          </ul>
          <h2 class = "subrayado"> Experiencia </h2>
          <ul class="lista_educacion">
          <app-item-formacion
               *ngFor="let formacion of getExperiencia()"
               [formacion] = "formacion"
               (onDeleteFormacion)="deleteFormacion(formacion)"
               (onEditFormacion)="editFormFormacion(formacion)"
          > </app-item-formacion>
          </ul>
     </div>
</section>
