<section class="cajaFormacion seccion">
     <div>
           <h1 class="subrayado"> Experiencia </h1>
         <!-- Formacion hijos -->
         <div class="listaExperiencia">
             <!-- hijo 1 -->
             <div>
                 <img src="../../../assets/img/backendDev.png" alt="Foto Backend">
                 <div class="textoFormacion">
                     <h2> Backend Developer </h2>
                     <p> Jornada parcial <br>
                     2021 - 2023 <br> 
                     Buenos Aires, Argentina.
                     </p>
                 </div>
             </div>
             <!-- hijo 2 -->
             <div>
                 <img src="../../../assets/img/frontendDev.png" alt="Foto Frontend">
                 <div class="textoFormacion">
                     <h2> FrontEnd Developer </h2>
                     <p> Jornada parcial <br>
                     2022 - 2025 <br> 
                     Buenos Aires, Argentina.
                     </p>
                 </div>
             </div>
         </div>
     </div>

     <div>
         <h1 class = "subrayado"> Educación </h1>
         <div class="listaEducacion">
             <div>
                   <img src="../../../assets/img/unlp.png" alt="Foto unlp informatica">
                 <div class="textoFormacion">
                       <h2> UNLP</h2>
                       <p> Licenciatura en sistemas. <br>
                       2021 - Actualidad
                       </p>
                 </div>
             </div>
             <div>
                   <img src="../../../assets/img/LOGOS-ONU.png" alt="Foto cnlp">
                 <div class="textoFormacion">
                       <h2> Colegio Nacional Rafael Hernandez </h2>
                       <p>  2014 - 2020 </p>
                 </div>
             </div> 
         </div>
       </div>
 </section>
