i{
  color: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
}

i::before{
  width: 32px;
  height: 32px;
}

i:hover{
  color:rgb(13, 148, 206)
}

.list-group{
    --bs-list-group-border-color:none;
    --bs-list-group-bg:none;
}