
<section class="cajaSkills">
  <div class="caja_titulo">
      <h1 class = "subrayado"> Hard Skills & Soft Skills </h1>
      <app-buttom 
      *ngIf="this.isLogged"
      color= black 
      text=+
      (click)="toggleFormSkill()"
    ></app-buttom>
  </div>
  
  <app-add-skill
    *ngIf="this.isLogged"
      (onAddSkill)="addSkill($event)"
      (onEditSkill)="editSkill($event)"
      (onToggleFormSkill)="toggleFormSkill()"
      [skill]="skill"
  ></app-add-skill>

  <!-- Cards -->
<div class="cartas">
  <div class="contenido">
          <app-item-skill 
          *ngFor="let skill of getSkills()" 
          [skill] = "skill"
          (onDeleteSkill)="deleteSkill(skill.id!)"
          (onEditFormSkill)="editFormSkill(skill)"
          >
          </app-item-skill>
  </div>
</div>
</section> 
 