
<section class="cajaSkills">
  <div class="caja_titulo">
      <h1 class = "subrayado"> Hard Skills & Soft Skills </h1>
      <app-buttom 
      color="{{estado? 'red' : 'green'}}" 
      text="{{estado? '-' : '+'}}"
      (btnClick)="toggleFormSkill()"
    ></app-buttom>
  </div>
  
  <app-add-skill
      (onAddSkill)="addSkill($event)"
      (onEditSkill)="editSkill($event)"
      (onToggleFormSkill)="toggleFormSkill()"
      [skill]="skill"
  ></app-add-skill>

  <!-- Cards -->
<div class="cartas">
  <div class="contenido">
          <app-item-skill 
          *ngFor="let skill of getSkills()" 
          [skill] = "skill"
          (onDeleteSkill)="deleteSkill(skill)"
          (onEditFormSkill)="editFormSkill(skill)"
          >
          </app-item-skill>
  </div>
</div>
</section> 
